<h2>Eventos:</h2>
<h5><small>Não perca os eventos em destaque</small></h5>

<div action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Search event" [(ngModel)]="filterList" name="filterList">
    <button class="btn btn-outline-success">Search</button>
  </div>
</div>
Filtro: {{filterList}}
<table class="table table-striped table-hover table-bordered table-responsive">
  <thead class="thead-dark table-dark">
    <tr>
      <th><button class="btn btn-outline-light" (click)="changeImage()">{{!showImage ? "Show" : "Hide"}}</button></th>
      <th>#</th>
      <th>Title:</th>
      <th>Location:</th>
      <th>Date:</th>
      <th>Hour:</th>
      <th>Quantity of People:</th>
      <th>Observation:</th>
    </tr>
  </thead>
  <tbody *ngIf="events$ | async as events">
    <tr *ngFor="let event of events$ | async">
      <td><img [class.collapse]="!showImage" [class.isAnimated]="true" [src]="event.imagemUrl" alt="{{ event.title }}" /></td>
      <td>{{ event.id }}</td>
      <td><i>{{ event.title }}</i></td>
      <td><i>{{ event.location }}</i></td>
      <td><mark>{{ event.eventDate | formatDateBR }}</mark></td>
      <td>{{event.hourEvent}}</td>
      <td><i>{{ event.qntPeople}}</i></td>
      <td>-</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!(events$ | async)?.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Item encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

