<h2>Eventos:</h2>
<h5><small>Não perca os eventos em destaque</small></h5>

<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Search event" [(ngModel)]="filterList" name="filterList">
    <button class="btn btn-outline-success">Search</button>
  </div>
</div>
<table class="table table-striped table-hover table-bordered table-responsive table-sm">
  <thead class="table table-dark table-hover">
    <tr>
      <th><button class="btn btn-outline-light btn-sm" (click)="changeImage()">{{!showImage ? "Show" : "Hide"}}</button></th>
      <th>#</th>
      <th>Title</th>
      <th>Location</th>
      <th>Date</th>
      <th>Hour</th>
      <th>People</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="events$ | async as events">
    <tr *ngFor="let event of events$ | async">
      <td><img [class.collapse]="!showImage" [class.isAnimated]="true" [src]="event.imagemUrl" alt="{{ event.title }}" /></td>
      <td>{{ event.id }}</td>
      <td><i>{{ event.title }}</i></td>
      <td><i>{{ event.location }}</i></td>
      <td>{{ event.eventDate | formatDateBR }}</td>
      <td>{{event.hourEvent}}</td>
      <td><i>{{ event.qntPeople}}</i></td>
      <td>

        <button type="button" class="btn btn-outline-warning btn-sm me-2"><i class="bi bi-pencil">Edit</i></button>
        <button type="button" class="btn btn-outline-danger btn-sm mr-2"><i class="bi bi-trash">Delete</i></button>

      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!(events$ | async)?.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Item encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

